//Here you add the page structure
body{
  overflow: hidden;
  height: 100%;
}
//
.borderless{
  border:none !important;
}
//
.ui.loading.segment{
  background: asset-url("Loading-Icon.gif") center no-repeat;
}
.ui.loading.segment:after{
    border:none;
}
//
.inactive{ opacity: 0.5;}
//
.ui.modal{
    padding:1% 2%;
    .header{ border: none;}
    .actions{ margin-top: 0.5em;
      float: right;
     .button{
          float: right;
          margin: 0;
          transition-duration: 0.55s;
          background-color: #f94263;
          color: #ffffff;
          border-radius: 0.2857rem;
          
          &:hover{
            background-color: #6f3159;
          }
        }
    }
}
.slides img{
  max-width: 1100px !important;
}
////////////////////////////////////////sidebar///////////////////////////////////////////////
#sidebar{
  width:11rem;
  display: inline-flex;
  #account_chooser{
    margin: 0;
    background: #282d39;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 4em;
    float: left;
    padding: 0 5px;
    border-radius: 0;
    .item{
      border-radius: 5px;
      min-width: 3em;
      margin-top: 1.25rem;
      min-height: 3rem;
      padding: 4px;
      background: #333844;
      span.image{
        opacity: 0.5;
        &:hover{
          opacity:1;
        };
      }
      .account_image{
        max-width: 100%;
        display: inline-block;
        border-radius: 5px;
      }
      .label{
        background: #ffffff;
        color: #b33679;
      }
      .floating.label{
        left: 90%;
        top: -1px;
      }
    }
    .active.item{
      background-color:#fff;
      span.image{
      opacity: 1;}
    }
    .item.safe_alert{
      border: 2px solid #6b8e5c;
      box-shadow:  -17px 0px 0px -14px #6b8e5c;
    }
    // .item.grey_alert{
    //   border: 2px solid #414652;
    //   box-shadow:  -17px 0px 0px -14px #414652;
    // }
    .item.warning_alert{
      border: 2px solid #a91217;
      box-shadow:  -17px 0px 0px -14px #a91217;
    }
  }
  #main_menu{
    margin: 0;
    background: #eaeaea;
    height: 100%;
    width: 7em;
    float: left;
    border-radius:0;
    border: none;
    display: inline-block;
    #main_account_indicator{
      border-radius: 5px;
      display: block;
      overflow: hidden;
    }
    .item{
      padding: 1em;
      color: #7a418f;

      .label{
        top: 0.3em;
        left: 68%;
        background-color: #7a418f;
        color:#fff;
      }
      i{
        color: #b33679;
      }
      img{
        margin: 0 auto;
        display: block;
        max-width: 100%;
        width: auto;
      }
    }
    .item.sidebar_hide{
      text-align: right;
    }
    .item.logout{
      position: fixed;
      width: 100%;
      bottom: 1rem;
    }
    .btn_item{
      padding: 0.45rem;
      .ui.button{
        margin: 0;
        color: #ffffff;
        background-color: #b33679;
        padding: 0.56rem;
        font-size: 0.75em;
      }
    }
  }
}

/////////////////////////////////////everything else//////////////////////////////////////////////////////////

.right_content{
  left: 11rem;//used when account sidebar is visible
  position: relative;
  height: 100%;
  margin: 0 !important;

  //////////////////////////////////////tabs//////////////////////////////////////

  .all_tabs{
    width: 16% !important;//important because semantic would override this setting
    min-width: 15rem;
    //border-right : 1px solid #ddd;
    height: 100%;
    background: #f0f0f0;
    overflow-y: auto;
    .item.sidebar_toggle.computer_hide{
      // centers logo sidebar-link on responsive
     // text-align: center;
      padding-top:0.625rem;
      padding-left: 0.938rem;
    }

    .tab_content{
      padding-top: 0.625rem;
      color: #7a418f ;
      .tab_content_header{
        padding-left: 1rem;
        padding-bottom: 10px;
        color: #7a418f;
      }
      .item{
        margin-left: 0.5rem;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-left: 0.8rem;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius:5px;
        font-size: 0.875rem;
        line-height: 1.4rem;
        &.active {
          font-weight: bold;
          .ui.floating.label {
            background-color: #e8e8e8;
          }
        }

        &.heading {
          font-weight: bold;

          &.spacer {
            margin-bottom: 1em;
          }
        }

        .ui.floating.label {
          position: relative;
          left: auto;
          top: auto;
          float: right;
          margin-right: 0.25em !important;
          background-color: #ffffff;
        }
      }
      .active.item,.item:hover{
        background-color: #ffffff;
      }
      .ui.button.tab_button{
        margin: 0;
        margin-bottom: 1rem;
        color: #ffffff !important;
        background-color: #b33679;
        padding: 5px 3px;
        font-size: 0.75em;
      }
      .ui.list .item{
         color: #7a418f;
      }
      .ui.statistic{
        padding-left: 1rem;
        text-align: center;
        .label{
          color: #7a418f;
          font-size: 1rem;
        }
        .value{
          color: #7a418f;
          font-weight: 600;
        }
      }
      .ui.divider{
        margin: 0.5rem 0; 
      }
    }
  }

  //////////////////////////////////content starts here////////////////////////////////////
  .column2{
    width: calc(84% - 11rem);//used when account sidebar is visible
    height: 100%;
    padding: 0 ;
    border-right : 1px solid #ddd;
    margin: 0;
    background: #ffffff;
    display: inline-block;
    position: relative;

    .button{
          font-size: 1em;
          float: right;
          margin: 0;
          transition-duration: 0.55s;
          background-color: #f94263;
          color: #ffffff;
          border-radius: 0.2857rem;
          margin: 2em 0.4em;
          &:hover{
            background-color: #6f3159;
          }
        }

    ////////////////////reply form in dashboard/////////////////////
    .reply_form{
        width: calc(100% - 1rem);
        position: absolute;
        display: block;
        bottom: 0rem;
        left: 0;
        height: 4.75rem;
        z-index: 3;
        background: #ffffff;

        .char.count {
          padding: 0em 1em;
          font-size: 0.9em;
          opacity: 0.8;
          font-style: oblique;
        }

        .ui.form{
          width: 97%;//full width minus 
          height: 3rem;
          left: 1.6%;
          border: 2px solid rgba(39, 41, 43, 0.15);
          border-radius: 5px;

          .reply_icon{
            float: left;
            display: inline-block;
            width: 3rem;
            height: 2.8rem;
            padding: 9px 0px 0 8px;
            border-right : 1px solid #ddd;
            cursor: pointer;
            input[type="file"] {
              display: none;
            }
          }
          .reply_field{
            display: inline-block;
            height: 2.9rem;
            width:calc(100% - 124px); //full width minus icon and button width. give this class borders while adjusting
            textarea{
              min-height: 37px;
              height: 37px;
              overflow-y: hidden;
              resize: none;
              border: none;
            }
            #emojibtn{
              position: absolute;
              right: 12%;
              bottom: 0.625rem;
              border: none;
              background: none;
              display: none;
              i:hover{
                color: #f00;
                
              }
            }
          }
          .reply_button{
            margin: 0;
            float: right;
            display: inline-block;
            width: 5.8rem;
            font-size:0.9375em; 
            height: 2.8rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #21ba45;
            &:hover{
            background-color: #6f3159;
          }
          }
        }
      }


    /////////////////////////top menu found in all pages////////////////////////////////
    .dashboard_menu{
      background: #eaeaea;
      height: 55px;
      a{
        font-size: 0.875em;
      }
      .search.item{
        width: 25%;
        input{
          width: 100%;
        }
      }
      .item:hover{
        box-shadow: 0px -2px 0em inset;
        background: rgba(0,0,0,0.045);
        color: #b33679;
        i{
          color: #b33679;
        }
      }
      .item.disabled:hover {
        cursor: default;
        i {
          color: rgba(40, 40, 40, 0.3);
        }
      }
      .setting_popup_content{
        border-radius: 10px;
        .ui.list{
          padding: 0.65rem;
          width: 10rem;
          .item{
            font-size: 0.875em;
            color: #000000;
          }
        }
      }
      .ui.input{
        padding-top: 7px;
        padding-bottom: 7px;
        input{
          //width: 100%;
          height: 2rem;
          border-radius: 10rem;
        }
      }
    }


    /////////////////////////////////////dashboard page////////////////////////////////
    .dashboard_content{
      margin: 0;
      height: calc(100% - 55px);//full height minus topbar menu height
      .bg{background: #fff;
            width: 100%;
            height: 100%;
            position: absolute;
        }
      .empty_conversations{
          position: absolute;
          color: #4f585f;
          z-index: 999;
          text-align: center;
          font-size: 1.3em;
          left: 50%;
          top: 50%;
          margin: -220px 0 0 -200px;
          max-width: 400px;
          h2{
            font-weight: 200;
            font-size: 2.5em;
            
          }
          p{padding: 0; color: #879095;}
          .loading{
          width: 200px; height: 200px;
          background: asset-url("ongair-welcome.png");
          background-size: cover;
          margin: 0 auto;
        }
        a{
          color: #b33679;
        }
        }
      .conversation_section{
        width: 75% ;
        height: 100%;////full height minus topbar menu height minus ui.comments margin-top
        padding-right: 0;
        font-size: 1rem;
        display: inline-block;
        position: relative;
        vertical-align: top;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
        .ui.comments{
          overflow-y: auto;
          height: 100%;
          max-width: 100%;
          padding-right: 1rem;
          padding-top: 1rem;
          margin-top: 0;
          padding-bottom: 6rem;//added to compensate for reply textarea
          .conversation_info{
            margin: -1rem -1rem 1rem -1rem;
            box-shadow: none;
            border-bottom: 1px solid rgba(34, 36, 38, 0.15);
          }
          .ui.divider{
            clear: both;
            margin-top: 1em;
          }
          .comment{
            margin:0 0 0.5em 0;
            .content{
              .image{
                width: 100%;
                max-width: 330px;
                max-height: 330px;
                overflow: hidden;
                border-radius:5px;
                margin: 0.3em 0 .3em 0;
                img{ width: 100%;}
              }
            }
          }
          
          .comment.from_me {
            float: right;
            clear: both;
            width: 100%;
            
            .metadata{
              .read{
                background: asset-url("read.png");
                width: 15px; height:12px; display: inline-block;
              }
              .received{
                background: asset-url("received.png");
                width: 15px; height:12px; display: inline-block;
              }
              .sent{
                background: asset-url("sent.png");
                width: 11px; height:10px; display: inline-block;
              }
            }
            .content{
              /**box-shadow: 1px 1px 3px 2px rgba(39, 41, 43, 0.1);**/
              background-color: #eaeaea;
              padding: 5px 10px;
              border-radius:10px;
              margin-right: 1em;
              float: right;
              margin-left: 0;
              max-width: 70%;
              min-width: 20%;
              .d_flag {
                display: none;
              }

            }
            .content:after {
              top: 1.5em;
              bottom: auto;
              right: 0.7rem;
              margin-left: 0em;
              position: absolute;
              content: '';
              width: 0.75em;
              height: 0.75em;
              background: inherit;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            
          }
          .comment.from_them {
           clear: both;
            float: left;
            width: 100%;
            .d_flag{
              margin-left: 0.5rem;
            }
           
           .content{  
               /**box-shadow: 2px 1px 4px rgba(39, 41, 43, 0.15);**/
              background-color: #edf9ff;
              padding: 5px 10px;
              border-radius:10px;
              margin-left: 1em;
              float:left;
              max-width: 70%;
              min-width: 20%;
            }
            .content:before {
              top: 1.25em;
              bottom: auto;
              left: 0.7rem;
              margin-left: 0em;
              position: absolute;
              content: '';
              width: 0.75em;
              height: 0.75em;
              background: inherit;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          .metadata{
            float: right;
          }
        }
      }
      .conversation{
        width: 25%;
        min-width: 16rem;
        font-size: 1rem;
        display: inline-block;
        border-right : 1px solid #ddd;
        height: 100%;
        padding: 0;
        overflow-y: auto;
        .ui.list .item.message{
           background: rgba(0, 0, 0, 0.03);
          i,p{
            text-align: center;
            color: #b33679 ;
          }
        }
        .ui.list .item{
          padding: 1rem;
          -webkit-transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
          transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
          position: relative;
          i.icon{
            padding-top: 1.3em;
          }
          .content {
            width: 100%;
            p{
              word-break: break-word;
              font-size: 0.9em;
            }
            .header {
              display: inline-block;
              font-size: 1.1em;
              text-overflow: ellipsis;
              max-width: 180px;
              overflow: hidden;
            }
            .message_count {
                font-size: .7em;
                font-style: italic;
                float: right;
                color: rgba(0, 0, 0, 0.4);
              }
            .metadata {
              
              display: block;
              .date {
                color: rgba(0, 0, 0, 0.4);
                font-size: 0.775em;
              }
            }
          }
          &.unread {
            
          }
        }
        .ui.list .active.item{
        background: rgba(0, 0, 0, 0.06);
        box-shadow: -2px 0em 0em inset;
        }
        .ui.list .item:hover{
          background: rgba(0, 0, 0, 0.035);
          opacity: 0.8;
        }
      }
    }
    
    ////////////////////////////////profile page////////////////////////////////////////
    .profile_content{
      padding-top: 1rem;
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      overflow-y: auto;
      .upload_icon{
            background-color: #7a418f;
            color: #fff;
            clear: both;
            width:73%;
            max-width: 205px;
            margin: 10px 0 10px 10px;
            cursor: pointer;
            input[type="file"] {
              display: none;
            }
            &:hover{
            background-color: #f94263;
                }
          }
      h2{
        color: #7a418f;
      }
      .all_profile{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .ui.card{
       // margin: 0 auto;
        box-shadow: none;
        .image{
          border-radius: 1rem !important;
          width: 200px;
          margin-left: 1rem;
        }
        .content{
          border-top: none;
        }
      }

      
      
      .status_update{// form for status update
        padding-top: 0;
        
      }
    }


    /////////////////////////////////contacts page////////////////////////////////////////////////
    .contacts_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      overflow-y: auto;
      height: calc(100% - 55px);//full height minus topbar menu height and contact_top space
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      

      .all_contacts{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;

        padding: 0;
        overflow-x: auto;
        //margin-top: 43px;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .contacts_top{
        margin: 0;
        background-color: #f9f9f9;
        font-weight: bold;
        span{padding-top: 0;}
        a.item{
          &:hover{  
            box-shadow: 0px -2px 0em inset;
          }
        }
        .active{
          color:#000 !important;
          box-shadow: 0px -2px 0em inset;
        }
      }
    }
    .contact_list{
      width: 100%;
      padding: 3px 0;
      .item{
        margin: 0;
      }
      .c_checkbox{
        width: 3%;
      }
      .c_image{
        min-width: 5%;
      }
      .c_name{
        width: 30%;
        word-break: break-all;
      }
      .c_number{
        width: 30%;
      }
      .c_edit{
        width: 10%;
      }
      .c_verify{
        width: 15%;
        text-align: left;
      }
      .c_remove{
        width: 10%;
        a{
          color: #f94263;
          &:hover{
            color: #b33679;
          };
        }
      }
    }
    ////////////////////////////////////////new_contact page/////////////////////////////////////////
    // .new_contacts_content{
    //   margin: 0;
    //   position: relative;
    //   overflow-y: auto;
    //   font-size: 1rem;
    //   vertical-align: top;
    //   display: block;
    //   height: calc(100% - 55px);//full height minus topbar menu height
    //   h2{
    //     color: #7a418f;
    //   }

    //   .new_contact_form{//div that changes width when column3 is toggled
    //     display: inline-block;
    //     width: 40%;
    //     padding: 1rem;
    //     vertical-align: top;
    //     margin: 0;
    //     .button{
    //       float: right;
    //       margin: 0;
    //       transition-duration: 0.55s;
    //       background-color: #f94263;
    //       color: #ffffff;
    //       border-radius: 0.2857rem;
    //       margin: 2em 0.4em;
    //       &:hover{
    //         background-color: #6f3159;
    //       }
    //     }
    //   }
    //   .new_contact_message{
    //     display: inline-block;
    //     width: 40%;
    //     padding: 6.6rem 1rem 1rem 1rem;
    //     margin: 0;
    //     vertical-align: top;
    //   }
      
    // }

    ///////////////////////////////////////////any_form////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////


    .form_wrapper{
      margin: 0;
      position: relative;
      overflow-y: auto;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      } 
      .label_after{
        input{ border-right:none;}
        .label{border-left: none; margin-left: -5px; padding:1em; }
      }
      .form_div{
         display: inline-block;
        width: 50%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .button{
          float: right;
          margin: 0;
          transition-duration: 0.55s;
          background-color: #f94263;
          color: #ffffff;
          border-radius: 0.2857rem;
          margin: 2em 0.4em;
          &:hover{
            background-color: #6f3159;
          }
        }
      }
      .form_message{
        display: inline-block;
        width: 45%;
        padding: 6.6rem 1rem 1rem 1rem;
        margin: 0;
        vertical-align: top;
      }
    }


    /////////////////////////////////////////////////////////////////////////////////////////////////////

    ////////////////////////////////////////////////account page///////////////////////////////////////
    .account_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      overflow-y: auto;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .account_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 50%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
      }
      .account_message{
        display: inline-block;
        width: 40%;
        padding: 6.6rem 1rem 1rem 1rem;
        margin: 0;
        vertical-align: top;
      }
      
    }


    /////////////////////////////////////////////////autoresponder page////////////////////////////////////
    // .new_auto_content{
    //   margin: 0;
    //   overflow-y: auto;
    //   position: relative;
    //   font-size: 1rem;
    //   vertical-align: top;
    //   display: block;
    //   height: calc(100% - 55px);//full height minus topbar menu height
    //   h2{
    //     color: #7a418f;
    //   }

    //   .new_auto_form{//div that changes width when column3 is toggled
    //     display: inline-block;
    //     width: 50%;
    //     padding: 1rem;
    //     vertical-align: top;
    //     margin: 0;
        
    //   }
    //   .new_auto_message{
    //     display: inline-block;
    //     width: 40%;
    //     padding: 6.6rem 1rem 1rem 1rem;
    //     margin: 0;
    //     vertical-align: top;
    //   }
      
    // }

    ///////////////////upload_contacts////////////////////////////////////////
    .upload_contacts_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      overflow-y: auto;
      vertical-align: top;
      display: block;
      height: 100%;
      h2{
        color: #7a418f;
      }

      .upload_contacts_form{
        display: inline-block;
        width: 50%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        
        .button{
          transition-duration: 0.55s;
          background-color: #f94263;
          color: #ffffff;
          border-radius: 0.2857rem;
          margin: 1em 0.4em;
          &:hover{
            background-color: #6f3159;
          }
        }
        .upload_icon{
          background-color: #7a418f !important;
          float: left; 
          height: 35px;
          vertical-align: middle;
          input[type="file"] {
            display: none;
          }
        }
        .submit_btn{
          float: right;
          height: 35px;
          vertical-align: middle;
        }
      }
      .upload_contacts_message{
        display: inline-block;
        width: 40%;
        padding: 7.2rem 1rem 1rem 1rem;
        margin: 0;
        vertical-align: top;
      }
      
    }


    ////////////////////////////////////////////sign_up page////////////////////////////////////////
      // .upload_contacts_conten{
      //   //padding: 1% 1.5%;
      //   .upload_icon{
      //     background-color: #7a418f !important;
      //     clear: both;
      //     width: 30%;
      //     min-width: 163px;
          
      //     border-right : 1px solid #ddd;
      //     cursor: pointer;
      //     input[type="file"] {
      //       display: none;
      //     }
      //   }
      //   a{ color: #009FDA;}
      //   h2{
      //         color: #7a418f;
      //         margin:0;
      //         padding: 0;
      //   }
      //   h5{
      //     margin: 0.5em 0 0 0;
      //   }
      //   h3{ margin:0.2em 0;}
      //   .extra{
      //     a{ color: #009FDA !important;}
      //   }
      //   ul{
      //     margin:0 0 1em 1em;
      //     img{ width: 150px;}
      //     li{

      //       list-style: decimal-leading-zero;
      //       margin-left: 1em;
      //       ul{
      //           li{
      //             list-style: disc;
      //           margin-left: 0.5em;
      //         }
      //       }
      //     }
      //   }
      //   .warning{
      //     li{ list-style: none;}
      //   }
      //   .segment{ box-shadow: none;
      //     border: none;}
      //   form{
      //     label{
      //       font-size: 1.2em;
      //     }
      //     input[type=text]{
      //       padding: 1em;
      //     }
      //     p{
      //       font-size: 1em;
      //     }
      //     .message{
      //       label{
      //         font-size: 1em;
      //       }
      //     }
      //   }
      //   .grey.button{ background: grey}
      // }

    ////////////////////////////////////////////new_user page////////////////////////////////////////
    .new_user_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      overflow-y: auto;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .new_user_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 50%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .button{
          float: right;
          margin: 0;
          transition-duration: 0.55s;
          background-color: #f94263;
          color: #ffffff;
          border-radius: 0.2857rem;
          margin: 2em 0.4em;
          &:hover{
            background-color: #6f3159;
          }
        }
      }
      .new_user_message{
        display: inline-block;
        width: 40%;
        padding: 6.6rem 1rem 1rem 1rem;
        margin: 0;
        vertical-align: top;
      }
      
    }

    ///////////////////////////////new_list page///////////////////////////
    .new_lists_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .new_list_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 80%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        //deleted new list button styling
      }  
    }

    /////////////////////////////notifications page////////////////////////////////////////
    .notifications_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      overflow-y: auto;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }
    }

    ////////////////////////////////new_password page/////////////////////////////
    .change_password_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      overflow-y: auto;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      
      
    }

    ////////////////////////////////media page///////////////////////////////
    .media_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .media_menu{
        border-radius: 0;
        background: #f9f9f9;
        a.item{
          &:hover{  
            box-shadow: 0px -2px 0em inset;
          }
        }
        .active{
          color:#000 !important;
          box-shadow: 0px -2px 0em inset;
        }
        .item.media_filter{
          color: #b33679;
        }
      }
      .all_media{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }

      .media_items{
        margin: 0;
        .header{
          font-size: 1rem;
          float: left;
          word-break: break-all;
        }
        .meta{
          font-size: 0.8rem;
          float: right;
        }
        i.icon {
          float: right;
          &.download {
            color: $purple;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .ui.fluid.card {
          .image {
            max-height: 224px; //hard-coded height
            overflow-y: hidden;
          }
          .content {
            padding-bottom: 0.5em;

            &.location {
              .address {
                font-style: italic;
                color: rgba(0, 0, 0, 0.4);
                display: block;
              }
            }

            .extra {
              position: absolute;
              right: 0;
            }
          }
        }
      }
      
    }

    //////////////////////////recent_activity page////////////////////////
    .activity_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      
      .all_activity{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
        overflow-x: hidden;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .activity_message{
        border-radius: 0;
        box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
      }
      .activity_items{
        padding: 0 1rem 1rem 1rem;
        margin: 0;
        .ui.card{
          background-color: #fff;
          box-shadow: none;
          .ui.statistic{
            padding: 3.5rem 0;
            margin: 0;
            .label{
              font-size: 1rem;
              font-weight: 100;
            }
          }
          .content{
            text-align: center;
            font-size: 0.9em;
            text-transform: uppercase;
            .meta{
              color: #7a418f;
            }
          }
        }
      }

      .r_inbox{// special kind of statistic
        .ui.statistics{
          margin: 0;
          .statistic{
            width: 100%;
            margin: 0;
            padding: 0.7rem 0;
          }
        }
      }
      
    }

    //////////////////////////recent_activity page////////////////////////

    .report_content{
      margin: 0;
      //overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      
      .all_customers{
        overflow-x: auto;
        height: 100%;
        .active_label{
            display: none;
          }
        .r_customers:last-child{
          margin-bottom: 1rem;
        }
        .r_customers.active{
          border-top: 2px solid #21BA45;
          .active_label{
            display: inline-block;
          }
        }
        .r_customers{
          margin: 1rem 1rem 0;
          padding: 0;
          .customer_header{
            border-top: 0;
            background-color: #f0f0f0;
            .ui.segment{
              border-left: 0;
            }
            .cust_country{
              margin: auto; 
            }
          }
          .customer_content{
            .customer_meta{
              padding-top: 0;
              h2{
                font-weight: 100;
                font-size: 35px;
                margin: 0;
              }
            }
            .message_header{
              border-bottom: 1px solid rgba(34, 36, 38, 0.15);
              //margin: 0;
              padding: 0.5rem 0;
            }
          }
        }
      }

      .overview_stats{
        width: 100%;
        margin: 0;
        .statistic{
          padding: 2rem 0;
          border-radius: 5px;
          //margin: 0;
          width: 20%;
          .label,.value{
            color: #ffffff;
          }
        }
        .stat_account{
          background-color: #3498db;
        }
        .stat_message{
          background-color: #e74c3c;
        }
        .stat_contact{
          background-color: #1abc9c;
        }
        .stat_media{
          background-color: #b33679;
        }
      }



      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .all_reports{//div that changes width when column3 is toggled
        //display: inline-block;
        width: 100%;
        height: calc(100%) ;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto; 
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .report_top{
       // display: inline-block;
        width: 100%;
        height: initial !important;

        padding: 0;
        margin: 0;
        border-bottom: 1px solid rgba(34, 36, 38, 0.15); 
        .item{
          // background-color: #cccccc;
          font-weight: bold;
          //padding: 10px 1rem;
        }
      }
      .agent_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
          vertical-align: middle;
        }
        .agent_name{
         min-width: 20%;
        }
        .agent_email{
          width: 40%;
        }
        .agent_messages{
          width: 20%;
        }
        .agent_number{
          width: 20%;
        } 
      }
    }

    .report_content.extra_menu{
      height: calc(100% - 95px);//full height minus topbar menu and second menu height
    }

    ///////////////////////////// autoresponders page///////////////////////////////////
    .autoresponder_content{
      margin: 0;
      position: relative;
      overflow-x: auto;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }


      .item.autoresponder_top{
       // background-color: #cccccc;
       font-weight: bold;
       padding: 10px 1rem;
      }

      .all_autoresponders{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }      
    }
    .autoresponder_list{
      width: 100%;
      padding: 10px 0;
      .item{
        margin: 0;
        vertical-align: middle;
      }
      .a_type{
       min-width: 15%;
      }
      .a_keyword{
        width: 15%;
      }
      .a_message{
        width: 35%;
        word-break: break-all;
      }
      .a_active{
        width: 10%;
      }
      .a_edit{
        width: 25%;
        text-align: center;

      }
    }

    /////////////////////////////groups page//////////////////////////////////////
    .groups_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      .item.groups_top{
       // background-color: #cccccc;
       font-weight: bold;
       padding: 10px 1rem;
      }

      .all_groups{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
    }
    .groups_list{
      width: 100%;
      padding: 10px 0;
      .item{
        margin: 0;
        vertical-align: middle;
      }
      .g_name{
       min-width: 20%;
       max-width: 20%;
      }
      .g_member{
        width: 15%;
        max-width:15%;
      }
      .g_messages{
        width: 20%;
        max-width: 20%;
      }
      .g_type{
        width: 15%;
        max-width: 15%;
      }
      .g_tick{
        width: 10%;
        //text-align: center;
      }
      .g_edit{
        width: 20%;
        text-align: center;
        a{
          color: #f94263;
          &:hover{
            color: #b33679;
          };
        }
      }
    }


    ////////////////////////////////lists page////////////////////////////
    .lists_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      .item.lists_top{
       // background-color: #cccccc;
       font-weight: bold;
       padding: 10px 1rem;
       .l_preview{
        padding: 0;
       }
      }
      .item.lists_bottom{
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        background-color: rgba(0, 0, 0, 0.05);
      }

      .all_lists{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      
    }
    .groups_top{
      .lists_list{ padding: 10px 0;}

    }
    .lists_list{
      width: 100%;
      padding: 10px 0;
      .item{
        margin: 0;
        vertical-align: middle;
      }
      a.l_name{
        color: #b33679;
          &:hover{
            color: #f94263;
          };
      }
      .l_name{
       min-width: 25%;
      }
      .l_description{
        width: 30%;
      }
      .l_preview{
        width: 45%;
        padding: 7px 0;
      }
      .l_messages{
        width: 15%;
      }
      .l_edit{
        width: 5%;
      }
      .l_remove{
        width: 10%;
        padding: 0;
        margin: 0;
        a{
          color: #f94263;
          &:hover{
            color: #b33679;
          };
        }
        .button{
          margin: 0.2rem;
        }
      }
      .l_button{//used for button at the bottom of the list
        .ui.button{
          color: #ffffff;
          background-color: #b33679;
        }
      }
    }
    //////////////////////////general list code//////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////











    .any_list_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height

      .item{// makes a single list item
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .item.top{
       // background-color: #cccccc;
       font-weight: bold;
      }
      .item.lists_bottom{
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        background-color: rgba(0, 0, 0, 0.05);
      }
    }










    ////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////

    ///////////////////////////////////users page//////////////////////////
    .users_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single 
        padding-right: 1rem;
        padding-left: 1rem;
      }

      .item.users_top{
       // background-color: #cccccc;
       font-weight: bold;
       padding: 10px 1rem;
      }
      .item.users_bottom{
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        
      }

      .all_users{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .users_list{
        width: 100%;
        .item{
          margin: 0;
          vertical-align: middle;
        }
        .u_name{
         min-width: 15%;
        }
        .u_email{
          width: 20%;
        }
        .u_number{
          width: 20%;
        }
        .u_admin{
          width: 15%;
        }
        .u_notify{
          width: 15%;
        }
        .u_remove{
          width: 10%;
          padding: 0;
          a{
          color: #f94263;
          &:hover{
            color: #b33679;
          };
        }
        }
        .u_button{//used for button at the bottom of the list
          .ui.button{
            color: #ffffff;
            background-color: #b33679;
          }
        }
      }
      
    }


    ///////////////////////locations page//////////////////////////////////
    .locations_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      padding: 1rem;
      

      .all_locations{//div that changes width when column3 is toggled + div used by google maps API
        display: inline-block;
        overflow-x: auto;
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 0.5rem;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .autoresponder_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
          vertical-align: middle;
        }
        .a_type{
         min-width: 15%;
        }
        .a_keyword{
          width: 15%;
        }
        .a_message{
          width: 35%;
        }
        .a_active{
          width: 15%;
        }
        .a_edit{
          width: 20%;
          //text-align: right;
        }

      }

    }

   

    ///////////////////////////////side panel//////////////////////////
    .column3{
      width: 29%;
      height: 100%;
      padding: 1rem;
      right: 0;
      font-size: 1rem;
      display: none;
      vertical-align: top;
      border-left : 1px solid #ddd;
      a{
        color: #25092F;
      }
      .user_profile{
        .profile_image{
          .ui.image{
            width: 45%;
          }
        }
        .card{
          margin-left: auto;
          margin-right: auto;
        }
      }
      .user_info{
        padding: 0 1rem;
        .ui.button{
          float: right;
          margin: 0;
        }
        h2{
          margin: 0;
          margin-bottom: 1rem;
          font-size: 1.25em;
        }
        h3{
          margin: 0;
          padding-bottom: 0.5rem;
        }
        p{
          margin: 0;
          padding-bottom: 0.5rem;
        }
      }
      .status_messages{//used in profile page
        font-size: 1rem;
        height: 100%;////full height minus topbar menu height minus ui.comments margin-top
        padding-top: 1rem;
        display: inline-block;
        position: relative;
        margin: 0 auto;
        .ui.segment{
          margin-bottom: 1rem;
        }   
      }
    }

  }
  ///////////////////////special pages without tabs//////////////////////////////////////////////////////////////
  .column2.full_width{
    font-size: 1rem;
    width: calc(100% - 10rem);
    .ui.message{
      margin-top: 0;
    }


    ////////////////////////compose page//////////////////////////////
    .compose_content{
      padding-top: 1rem;
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      width: 60%;
      height: 80%;
      h2{
        color: #7a418f;
      }
      p{
         margin-left: 1.25rem;
      }
      .ui.dropdown{
        margin-left: 1.25rem;
      }
      .reply_form{
        padding-right: 0;
         width: 100%;
        .ui.form{
          width: 100%;
        }
      }
    }
  }
}

.full_height {
  height: 100%;
}
