//Here you add the page structure
body{
  overflow: hidden;
  }
#icon_tabs{
  background: #eaeaea;
  .item{
    padding: 1rem;
    color: #7a418f;

    .ui.floating.label{
      top: 0.3rem;
      left: 68%;
    }
    i{
      color: #b33679;
    }
    .label{
      background-color: #7a418f;
    }
  }
  .item.logout{
    position: fixed;
    width: 100%;
    bottom: 13px;
  }
  .btn_item{
    padding: 7px;
    .ui.button{
      margin: 0;
      color: #ffffff;
      background-color: #b33679;
      padding: 9px;
      font-size: 12px;
    }
  }
}

.right_content{
  left: 90px !important;
  position: relative;
  height: 100%;
  margin: 0 !important;

  .all_tabs{
    width: calc(22% - 90px) !important;
    //border-right : 1px solid #ddd;
    height: 100%;
    background: #f0f0f0;
    .item.sidebar_toggle.computer_hide{
      // centers logo sidebar-link on responsive
     // text-align: center;
      padding-top:10px;
      padding-left: 15px;
    }

    .tab_content{
      padding-top: 10px;
      color: #7a418f !important;
      .tab_content_header{
        padding-left: 1.8rem;
        padding-bottom: 10px;
        color: #7a418f;
      }
      .item{
        margin-left: 0.5rem;
        padding-left: 0.8rem;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius:5px;
        font-size: 0.875rem;
        line-height: 1.4rem;
        margin-top: 2px;
        margin-bottom: 2px;
      }
      .active.item,.item:hover{
        background-color: #ffffff;
      }
      .ui.list .item{
         color: #7a418f;
      }
    }
  }
  .column2{
    width: 78%;
    height: 100%;
    padding: 0 ;
    border-right : 1px solid #ddd;
    margin: 0;
    background: #ffffff;
    display: inline-block;
    position: relative;
    .conversation{
      width: 25%;
      font-size: 1rem;
      display: inline-block;
      border-right : 1px solid #ddd;
      height: 100%;
      padding: 0;
      overflow-y: auto;
      .ui.list .item.message{
         background: rgba(0, 0, 0, 0.03);
        i,p{
          text-align: center;
          color: #b33679 !important;
        }
      }
      .ui.list .item{
        padding-left: 15px;
        padding-right: 15px;
        -webkit-transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
  transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
  
      }
      .ui.list .active.item{
      background: rgba(0, 0, 0, 0.03);
      box-shadow: -2px 0em 0em inset;
      }
      .ui.list .item:hover{
        background: rgba(0, 0, 0, 0.03);
        opacity: 0.8;
      }

    }
    .conversation_section{
      width: 75% ;
      height: 100%;////full height minus topbar menu height minus ui.comments margin-top
      padding-right: 0;
      font-size: 1rem;
      display: inline-block;
      position: relative;
      vertical-align: top;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      transition: all 500ms ease;
      .ui.comments{
        overflow-y: auto;
        height: 100%;
        max-width: 100%;
        padding-right: 1rem;
        padding-top: 1rem;
        margin-top: 0;
        padding-bottom: 73px;//added to compensate for reply textarea
        .ui.divider{
          clear: both;
        }
        .comment.from_me {
          float: right;
            clear: both;
          .avatar{
            float: right;
          }
          .metadata{
            .read{
              background: url("../images/read.png");
              width: 15px; height:12px; display: inline-block;
            }
            .received{
              background: url("../images/received.png");
              width: 15px; height:12px; display: inline-block;
            }
            .sent{
              background: url("../images/sent.png");
              width: 11px; height:10px; display: inline-block;
            }
          }
          .content{
             box-shadow: 1px 1px 3px 2px rgba(39, 41, 43, 0.1);
            background-color: #eaeaea;
            padding: 5px 10px;
            border-radius:10px;
            margin-right: 1em;
            float: right;
            margin-left: 0;
            max-width: 80%;
            width: inherit;
          }
          .content:after {

            top: 1.25em;
            bottom: auto;
            right: 41px;
            margin-left: 0em;
            position: absolute;
            content: '';
            width: 0.75em;
            height: 0.75em;
            background: inherit;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          
        }
        .comment.from_them {
         clear: both;
          float: left;
         .avatar{
            float: left;
          }
         .content{  
             box-shadow: 2px 1px 4px rgba(39, 41, 43, 0.15);
            background-color: #edf9ff;
            padding: 5px 10px;
            border-radius:10px;
            margin-left: 3.5em;
            
            margin-right: 0; 
            max-width: 80%;
            width: inherit;
          }
          .content:before {
            top: 1.25em;
            bottom: auto;
            left: 44px;
            margin-left: 0em;
            position: absolute;
            content: '';
            width: 0.75em;
            height: 0.75em;
            background: inherit;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        .metadata{
          float: right;
        }
      }
      .reply_form{
        width: calc(100% - 15px);
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        height: 60px;
        z-index: 3;
        background: #ffffff;
        .ui.form{
          width: 97%;//full width minus 
          height: 42px;
          left: 1.6%;
          border: 2px solid rgba(39, 41, 43, 0.15);
          border-radius: 5px;

          .reply_icon{
            float: left;
            display: inline-block;
            width: 44px;
            height: 40px;
            padding: 9px 0px 0 8px;
            border-right : 1px solid #ddd;
          }
          .reply_field{
            display: inline-block;
            height: 40px;
            width:calc(100% - 124px); //full width minus icon and button width. give this class borders while adjusting
            textarea{
              min-height: 37px;
              height: 37px;
              overflow-y: hidden;
              resize: none;
              border: none;
            }
          }
          .reply_button{
            margin: 0;
            float: right;
            display: inline-block;
            width: 80px;
            font-size: 14px; 
            height: 38px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
    .dashboard_menu{
      background: #eaeaea;
      .search.item{
        width: 25%;
        input{
          width: 100%;
        }
      }
      .item:hover{
        background: inherit !important;
        i{
          color: #b33679;
        }
      }
      .setting_popup_content{
        border-radius: 10px;
        .ui.list{
          padding: 10px;
          width: 150px;
          .item{
            font-size: 13px;
            color: #000000;
          }
        }
      }
      .ui.input{
        padding-top: 7px;
        padding-bottom: 7px;
        input{
          //width: 100%;
          height: 35px;
          border-radius: 70px;
        }
      }
    }
    .inbox_content{
      margin: 0 !important;
      height: calc(100% - 55px);//full height minus topbar menu height
    }
    
    .column3{
      width: 25%;
      height: 100%;
      padding-top: 2rem !important;
      padding-left: 0;
      padding-right: 0;
      right: 0;
      font-size: 1rem;
      display: none;
      //vertical-align: top;
      border-left : 1px solid #ddd;
      .user_profile{
        .profile_image{
          .ui.image{
            width: 45%;
          }
        }
        .card{
          margin-left: auto;
          margin-right: auto;
        }
      }
      .user_info{
        padding: 0 15px;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #b33679;
        }
        textarea{
          min-height: 3.5rem;
          max-height: 4.5rem;
          resize: none;
          border: 1px solid rgba(39, 41, 43, 0.5);
        }
        h2{
          margin: 0;
          margin-bottom: 15px;
          font-size: 20px;
        }
        h3{
          margin: 0;
          padding-bottom: 8px;
        }
        p{
          margin: 0;
          padding-bottom: 8px;
        }
      }
    }
  }
  
}
