//Here you add the page structure
body{
  overflow: hidden;
}
////////////////////////////////////////sidebar///////////////////////////////////////////////
#sidebar{
  width:11rem;
  display: inline-flex;
  #account_chooser{
    margin: 0;
    background: #282d39;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 4em;
    float: left;
    padding: 0 5px;
    border-radius: 0;
    .item{
      border-radius: 5px;
      min-width: 3em;
      margin-top: 1.25rem;
      min-height: 3rem;
      padding: 4px;
      background: #333844;
      .account_image{
        max-width: 100%;
        display: inline-block;
        border-radius: 5px;
      }
      .label{
        background: #ffffff;
        color: #b33679;
      }
    }
    .active.item{
      background: #ffffff;
      color: #b33679;
      box-shadow: 0 0 0;
      padding: 12px;
    }
    .item.safe_alert{
      border: 2px solid #6b8e5c;
      box-shadow:  -17px 0px 0px -14px #6b8e5c;
    }
    // .item.grey_alert{
    //   border: 2px solid #414652;
    //   box-shadow:  -17px 0px 0px -14px #414652;
    // }
    .item.warning_alert{
      border: 2px solid #a91217;
      box-shadow:  -17px 0px 0px -14px #a91217;
    }
  }
  #icon_tabs{
    margin: 0;
    background: #eaeaea;
    height: 100%;
    width: 7em;
    float: left;
    border-radius:0;
    border: none;
    display: inline-block;
    .item{
      padding: 1em;
      color: #7a418f;

      .label{
        top: 0.3em;
        left: 68%;
        background-color: #7a418f;
      }
      i{
        color: #b33679;
      }
      img{
        margin: 0 auto;
      }
    }
    .item.sidebar_hide{
      text-align: right;
    }
    .item.logout{
      position: fixed;
      width: 100%;
      bottom: 1rem;
    }
    .btn_item{
      padding: 0.45rem;
      .ui.button{
        margin: 0;
        color: #ffffff;
        background-color: #b33679;
        padding: 0.56rem;
        font-size: 0.75em;
      }
    }
  }

}

/////////////////////////////////////everything else//////////////////////////////////////////////////////////

.right_content{
  left: 11rem;//used when account sidebar is visible
  position: relative;
  height: 100%;
  margin: 0 !important;

  //////////////////////////////////////tabs//////////////////////////////////////

  .all_tabs{
    width: 16% !important;//important because semantic would override this setting 
    min-width: 15rem;
    //border-right : 1px solid #ddd;
    height: 100%;
    background: #f0f0f0;
    .item.sidebar_toggle.computer_hide{
      // centers logo sidebar-link on responsive
     // text-align: center;
      padding-top:0.625rem;
      padding-left: 0.938rem;
    }

    .tab_content{
      padding-top: 0.625rem;
      color: #7a418f ;
      .tab_content_header{
        padding-left: 1rem;
        padding-bottom: 10px;
        color: #7a418f;
      }
      .item{
        margin-left: 0.5rem;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-left: 0.8rem;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius:5px;
        font-size: 0.875rem;
        line-height: 1.4rem;
      }
      .active.item,.item:hover{
        background-color: #ffffff;
      }
      .ui.button.tab_button{
        margin: 0;
        margin-bottom: 1rem;
        color: #ffffff !important;
        background-color: #b33679;
        padding: 5px 3px;
        font-size: 0.75em;
      }
      .ui.list .item{
         color: #7a418f;
      }
      .ui.statistic{
        padding-left: 1rem;
        .label{
          color: #7a418f;
          text-align: left;
          font-size: 1rem;
        }
        .value{
          color: #7a418f;
          text-align: left;
          font-weight: 600;
        }
      }
      .ui.divider{
        margin: 0.5rem 0; 
      }
    }
  }

  //////////////////////////////////content starts here////////////////////////////////////
  .column2{
    width: calc(84% - 11rem);//used when account sidebar is visible
    height: 100%;
    padding: 0 ;
    border-right : 1px solid #ddd;
    margin: 0;
    background: #ffffff;
    display: inline-block;
    position: relative;

    ////////////////////reply form in dashboard/////////////////////
    .reply_form{
        width: calc(100% - 1rem);
        position: absolute;
        display: block;
        bottom: 0rem;
        left: 0;
        height: 3.75rem;
        z-index: 3;
        background: #ffffff;
        .ui.form{
          width: 97%;//full width minus 
          height: 3rem;
          left: 1.6%;
          border: 2px solid rgba(39, 41, 43, 0.15);
          border-radius: 5px;

          .reply_icon{
            float: left;
            display: inline-block;
            width: 3rem;
            height: 2.8rem;
            padding: 9px 0px 0 8px;
            border-right : 1px solid #ddd;
            cursor: pointer;
            input[type="file"] {
              display: none;
            }
          }
          .reply_field{
            display: inline-block;
            height: 2.9rem;
            width:calc(100% - 124px); //full width minus icon and button width. give this class borders while adjusting
            textarea{
              min-height: 37px;
              height: 37px;
              overflow-y: hidden;
              resize: none;
              border: none;
            }
            #emojibtn{
              position: absolute;
              right: 12%;
              bottom: 0.625rem;
              border: none;
              background: none;
              i:hover{
                color: #f00;
                
              }
            }
          }
          .reply_button{
            margin: 0;
            float: right;
            display: inline-block;
            width: 5.8rem;
            font-size:0.9375em; 
            height: 2.8rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }


    /////////////////////////top menu found in all pages////////////////////////////////
    .dashboard_menu{
      background: #eaeaea;
      height: 55px;
      .search.item{
        width: 25%;
        input{
          width: 100%;
        }
      }
      .item:hover{
        background: inherit;
        color: #b33679;
        i{
          color: #b33679;
        }
      }
      .setting_popup_content{
        border-radius: 10px;
        .ui.list{
          padding: 0.65rem;
          width: 10rem;
          .item{
            font-size: 0.875em;
            color: #000000;
          }
        }
      }
      .ui.input{
        padding-top: 7px;
        padding-bottom: 7px;
        input{
          //width: 100%;
          height: 2rem;
          border-radius: 10rem;
        }
      }
    }


    /////////////////////////////////////dashboard page////////////////////////////////
    .dashboard_content{
      margin: 0;
      height: calc(100% - 55px);//full height minus topbar menu height
      .conversation_section{
        width: 75% ;
        height: 100%;////full height minus topbar menu height minus ui.comments margin-top
        padding-right: 0;
        font-size: 1rem;
        display: inline-block;
        position: relative;
        vertical-align: top;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
        .ui.comments{
          overflow-y: auto;
          height: 100%;
          max-width: 100%;
          padding-right: 1rem;
          padding-top: 1rem;
          margin-top: 0;
          padding-bottom: 12rem;//added to compensate for reply textarea
          .ui.divider{
            clear: both;
          }
          .ui.button.image_btn{
            margin: 0;
            color: #ffffff;
            background-color: #b33679;
            padding: 0.56rem;
            font-size: 0.75em;
          }
          .comment.from_me {
            float: right;
              clear: both;
            .avatar{
              float: right;
            }
            .metadata{
              .read{
                background: url("../images/read.png");
                width: 15px; height:12px; display: inline-block;
              }
              .received{
                background: url("../images/received.png");
                width: 15px; height:12px; display: inline-block;
              }
              .sent{
                background: url("../images/sent.png");
                width: 11px; height:10px; display: inline-block;
              }
            }
            .content{
               box-shadow: 1px 1px 3px 2px rgba(39, 41, 43, 0.1);
              background-color: #eaeaea;
              padding: 5px 10px;
              border-radius:10px;
              margin-right: 1em;
              float: right;
              margin-left: 0;
              max-width: 80%;
              width: inherit;
            }
            .content:after {

              top: 1.25em;
              bottom: auto;
              right: 3rem;
              margin-left: 0em;
              position: absolute;
              content: '';
              width: 0.75em;
              height: 0.75em;
              background: inherit;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            
          }
          .comment.from_them {
           clear: both;
            float: left;
            .d_flag{
              margin-left: 0.5rem;
            }
           .avatar{
              float: left;
            }
           .content{  
               box-shadow: 2px 1px 4px rgba(39, 41, 43, 0.15);
              background-color: #edf9ff;
              padding: 5px 10px;
              border-radius:10px;
              margin-left: 3.5em;
              
              margin-right: 0; 
              max-width: 90%;
              width: inherit;
            }
            .content:before {
              top: 1.25em;
              bottom: auto;
              left: 3rem;
              margin-left: 0em;
              position: absolute;
              content: '';
              width: 0.75em;
              height: 0.75em;
              background: inherit;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          .metadata{
            float: right;
          }
        }
      }
      .conversation{
        width: 25%;
        min-width: 16rem;
        font-size: 1rem;
        display: inline-block;
        border-right : 1px solid #ddd;
        height: 100%;
        padding: 0;
        overflow-y: auto;
        .ui.list .item.message{
           background: rgba(0, 0, 0, 0.03);
          i,p{
            text-align: center;
            color: #b33679 ;
          }
        }
        .ui.list .item{
          padding: 1rem;
          -webkit-transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
          transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
    
        }
        .ui.list .active.item{
        background: rgba(0, 0, 0, 0.03);
        box-shadow: -2px 0em 0em inset;
        }
        .ui.list .item:hover{
          background: rgba(0, 0, 0, 0.03);
          opacity: 0.8;
        }
      }
    }
    
    ////////////////////////////////profile page////////////////////////////////////////
    .profile_content{
      padding-top: 1rem;
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }
      .all_profile{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .ui.card{
       // margin: 0 auto;
        box-shadow: none;
        .image{
          border-radius: 1rem !important;
          width: 200px;
          margin-left: 1rem;
        }
        .content{
          border-top: none;
        }
      }

      
      
      .status_update{// form for status update
        padding-top: 0;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #7a418f;
          color: #ffffff;
        }
      }
    }


    /////////////////////////////////contacts page////////////////////////////////////////////////
    .contacts_top{
        margin: 0;
        padding: 1rem;
        //height: 100px;
        max-height: 80px;
        background-color: #cccccc;
        vertical-align: middle;
        .contact_list{
          text-align: center;
        }
      }
    .contacts_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      overflow-y: auto;
      height: calc(100% - 135px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      

      .all_contacts{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        overflow-x: auto;
        //margin-top: 43px;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .contact_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
        }
        .c_checkbox{
          width: 5%;
        }
        .c_image{
         min-width: 10%;
        }
        .c_name{
          width: 30%;
        }
        .c_number{
          width: 30%;
        }
        .c_edit{
          width: 10%;
        }
        .c_verify{
          width: 15%;
          text-align: right;
        }
      }
    }

    ////////////////////////////////////////new_contact page/////////////////////////////////////////
    .new_contacts_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .new_contact_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 40%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #7a418f;
          color: #ffffff;
        }
      }
      .new_contact_message{
        display: inline-block;
        width: 40%;
        padding: 6.6rem 1rem 1rem 1rem;
        margin: 0;
        vertical-align: top;
      }
      
    }

    ////////////////////////////////////////////////account page///////////////////////////////////////
    .account_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .account_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 50%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #7a418f;
          color: #ffffff;
        }
      }
      .account_message{
        display: inline-block;
        width: 40%;
        padding: 6.6rem 1rem 1rem 1rem;
        margin: 0;
        vertical-align: top;
      }
      
    }


    /////////////////////////////////////////////////autoresponder page////////////////////////////////////
    .new_auto_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .new_auto_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 50%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #7a418f;
          color: #ffffff;
        }
      }
      .new_auto_message{
        display: inline-block;
        width: 40%;
        padding: 6.6rem 1rem 1rem 1rem;
        margin: 0;
        vertical-align: top;
      }
      
    }

    ////////////////////////////////////////////sign_up page////////////////////////////////////////
      .welcome{
        padding: 1% 1.5%;
        a{ color: #009FDA;}
        h2{
              color: #7a418f;
              margin: 0.5em 0;
        }
        h3{ margin:0.2em 0;}
        .extra{
          a{ color: #009FDA !important;}
        }
        ul{
          margin:0 0 1em 1em;
          img{ width: 150px;}
          li{

            list-style: decimal-leading-zero;
            margin-left: 1em;
            ul{
                li{
                  list-style: disc;
                margin-left: 0.5em;
              }
            }
          }
        }
        .warning{
          li{ list-style: none;}
        }
        .segment{ box-shadow: none;
          border: none;}
        form{
          label{
            font-size: 1.2em;
          }
          input[type=text]{
            padding: 1em;
          }
          p{
            font-size: 1.2em;
          }
        }
        .button{
          transition-duration: 0.55s;
          background-color: #f94263;
          color: #ffffff;
          border-radius: 0.2857rem;
          margin: 2em 0;
          &:hover{
                background-color: #6f3159;
          };
        }
        .grey.button{ background: grey}
      }

    ////////////////////////////////////////////new_user page////////////////////////////////////////
    .new_user_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .new_user_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 50%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #7a418f;
          color: #ffffff;
        }
      }
      .new_user_message{
        display: inline-block;
        width: 40%;
        padding: 6.6rem 1rem 1rem 1rem;
        margin: 0;
        vertical-align: top;
      }
      
    }


    ///////////////////////////////new_list page///////////////////////////
    .new_lists_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .new_list_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 80%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #7a418f;
          color: #ffffff;
        }
      }  
    }

    /////////////////////////////notifications page////////////////////////////////////////
    .notifications_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .notifications_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 60%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #7a418f;
          color: #ffffff;
        }
      }  
    }

    ////////////////////////////////new_password page/////////////////////////////
    .change_password_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      vertical-align: top;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      h2{
        color: #7a418f;
      }

      .change_password_form{//div that changes width when column3 is toggled
        display: inline-block;
        width: 80%;
        padding: 1rem;
        vertical-align: top;
        margin: 0;
        .ui.button{
          float: right;
          margin: 0;
          background-color: #7a418f;
          color: #ffffff;
        }
      }
      
    }

    ////////////////////////////////media page///////////////////////////////
    .media_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .media_menu{
        border-radius: 0;
        .item.media_filter{
          color: #b33679;
        }
      }
      .all_media{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }

      .media_items{
        margin: 0;
        .header{
          font-size: 1rem;
          float: left;
        }
        .meta{
          font-size: 0.8rem;
          float: right;
        }
      }
      
    }

    //////////////////////////recent_activity page////////////////////////
    .activity_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      
      .all_activity{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .activity_message{
        border-radius: 0;
        i.icon:not(.close){
          font-size: 2rem;
        }
      }
      .activity_items{
        padding: 0 1rem 1rem 1rem;
        margin: 0;
        .ui.card{
          background-color: #eaeaea;
          .ui.statistic{
            padding: 3.5rem 0;
            margin: 0;
            .label{
              font-size: 0.8rem;
            }
          }
          .content{
            text-align: center;
            .meta{
              color: #7a418f;
            }
          }
        }
      }

      .r_inbox{// special kind of statistic
        .ui.statistics{
          margin: 0;
          .statistic{
            width: 100%;
            margin: 0;
            padding: 0.7rem 0;
          }
        }
      }
      
    }

    ///////////////////////////// autoresponders page///////////////////////////////////
    .autoresponder_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      .item.autoresponder_top{
       // background-color: #cccccc;
       font-weight: bold;
      }

      .all_autoresponders{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .autoresponder_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
          vertical-align: middle;
        }
        .a_type{
         min-width: 15%;
        }
        .a_keyword{
          width: 15%;
        }
        .a_message{
          width: 35%;
        }
        .a_active{
          width: 10%;
        }
        .a_edit{
          width: 25%;
          text-align: center;
        }
      }
      
    }

    /////////////////////////////groups page//////////////////////////////////////
    .groups_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      .item.groups_top{
       // background-color: #cccccc;
       font-weight: bold;
      }

      .all_groups{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .groups_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
          vertical-align: middle;
        }
        .g_name{
         min-width: 20%;
        }
        .g_member{
          width: 15%;
        }
        .g_messages{
          width: 20%;
        }
        .g_type{
          width: 15%;
        }
        .g_tick{
          width: 10%;
          //text-align: center;
        }
        .g_delete{
          width: 20%;
          text-align: center;
          button{
            color: #ffffff;
            background-color: #b33679;
          }
        }
      }
      
    }


    ////////////////////////////////lists page////////////////////////////
    .lists_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      .item.lists_top{
       // background-color: #cccccc;
       font-weight: bold;
      }
      .item.lists_bottom{
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        background-color: rgba(0, 0, 0, 0.05);
      }

      .all_lists{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .lists_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
          vertical-align: middle;
        }
        .l_name{
         min-width: 30%;
        }
        .l_description{
          width: 30%;
        }
        .l_messages{
          width: 20%;
        }
        .l_remove{
          width: 20%;
        }
        .l_button{//used for button at the bottom of the list
          .ui.button{
            color: #ffffff;
            background-color: #b33679;
          }
        }
      }
      
    }

    ///////////////////////////////////users page//////////////////////////
    .users_content{
      margin: 0;
      overflow-x: auto;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      .item.users_top{
       // background-color: #cccccc;
       font-weight: bold;
      }
      .item.users_bottom{
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        background-color: rgba(0, 0, 0, 0.05);
      }

      .all_users{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        padding: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .users_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
          vertical-align: middle;
        }
        .u_name{
         min-width: 20%;
        }
        .u_email{
          width: 20%;
        }
        .u_number{
          width: 15%;
        }
        .u_admin{
          width: 15%;
        }
        .u_notify{
          width: 10%;
        }
        .u_remove{
          width: 20%;
        }
        .u_button{//used for button at the bottom of the list
          .ui.button{
            color: #ffffff;
            background-color: #b33679;
          }
        }
      }
      
    }


    ///////////////////////locations page//////////////////////////////////
    .locations_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      height: calc(100% - 55px);//full height minus topbar menu height
      padding: 1rem;
      

      .all_locations{//div that changes width when column3 is toggled + div used by google maps API
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 0.5rem;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .autoresponder_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
          vertical-align: middle;
        }
        .a_type{
         min-width: 15%;
        }
        .a_keyword{
          width: 15%;
        }
        .a_message{
          width: 35%;
        }
        .a_active{
          width: 15%;
        }
        .a_edit{
          width: 20%;
          text-align: right;
        }

      }

    }

   

    ///////////////////////////////side panel//////////////////////////
    .column3{
      width: 29%;
      height: 100%;
      padding: 1rem;
      right: 0;
      font-size: 1rem;
      display: none;
      vertical-align: top;
      border-left : 1px solid #ddd;
      a{
        color: #25092F;
      }
      .user_profile{
        .profile_image{
          .ui.image{
            width: 45%;
          }
        }
        .card{
          margin-left: auto;
          margin-right: auto;
        }
      }
      .user_info{
        padding: 0 1rem;
        .ui.button{
          float: right;
          margin: 0;
        }
        h2{
          margin: 0;
          margin-bottom: 1rem;
          font-size: 1.25em;
        }
        h3{
          margin: 0;
          padding-bottom: 0.5rem;
        }
        p{
          margin: 0;
          padding-bottom: 0.5rem;
        }
      }
      .status_messages{//used in profile page
        font-size: 1rem;
        height: 100%;////full height minus topbar menu height minus ui.comments margin-top
        padding-top: 1rem;
        display: inline-block;
        position: relative;
        margin: 0 auto;
        .ui.segment{
          margin-bottom: 1rem;
        }   
      }
    }

  }
  ///////////////////////special pages without tabs//////////////////////////////////////////////////////////////
  .column2.full_width{
    font-size: 1rem;
    width: calc(100% - 10rem);
    .ui.message{
      margin-top: 0;
    }


    ////////////////////////compose page//////////////////////////////
    .compose_content{
      padding-top: 1rem;
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      width: 60%;
      height: 80%;
      h2{
        color: #7a418f;
      }
      p{
         margin-left: 1.25rem;
      }
      .ui.dropdown{
        margin-left: 1.25rem;
      }
      .reply_form{
        padding-right: 0;
         width: 100%;
        .ui.form{
          width: 100%;
        }
      }
    }
  }
}
