@media only screen and (max-width: 1500px){
	.computer_hide{
		display: none !important;
	}

}//max width 1500

@media only screen and (max-width: 1280px){
	  

}//Max width 1280


@media only screen and (max-width: 1100px){
	 
 
}//Max width 1100


@media only screen and (max-width: 960px){
	 


}//max width 960

@media only screen and (max-width: 768px){
	body{
		overflow-y: auto;
	}
	.computer_hide{
		display: inherit !important;
	}
	.tablet_hide{
	 	display: none !important;
	}
	.pusher{
		height: 100%;
	}
	.dashboard_content{
	 	width: 100% !important;
	 	height: 100% !important;
	 	position: relative;
	 	//display: block;
	 	.conversation_section{
			width: 100% !important;
			height: calc(100% - 60px) !important;//height that compensates for mobile_menu
			position: absolute;
			padding-top: 1rem;
			padding-bottom: 0;
			padding-left: 0;
			//padding-right: 1rem !important;//overwrites css style
			left: 100%;
			margin: 0 !important;
			overflow-y: auto !important;
			.ui.button{
				display: inline-block !important;
			}
			.ui.comments{
				
				overflow-y: visible !important;
				display: table;
				padding: 1rem;
				padding-bottom: 6rem !important;
				.reply_form{
					height: initial;
					.ui.form{
						width: 100%;
						left: 0;
						border-radius: 0;
					}
				}
			}	
		}
	 	.pusher{
	 		//display: inline-block !important;
	 		position: absolute;
	 		padding: 0 !important;
	 		//height: inherit !important;
	 		z-index: 200;
	 		width: 100%;
	 		right: 0;
	 		background-color: #ffffff;
	 	}
	}
	.reply_form{
		width: 100% !important;
	}
	#sidebar{
		width: 20rem;
		#icon_tabs{
			width: 100%;
			.item:not(.btn_item){
				//height: 19% !important;
				//padding: 2rem;
				.ui.label{
					display: none;
				}
			}
			//only applies to logout page
			.item.logout{
				position: relative;
				bottom: initial;

			}
		}
	}
	.options_sidebar{
		z-index: 10000;
	}
	.right_content{
		left: 0 !important;
		margin-top: 0 !important;
		.mobile_menu{
			height: 60px;
			.item{
				background: none !important;
			}
		}
		.all_tabs{
			width: 100% !important;
			padding-top: 0 !important;
			.tab_content{
				margin-top: 0;
			}
		}

		.column2{
			width: 100%;
			.dashboard_content{
				.conversation{
					width: 100%;
				}
			}
			/////////////////contacts page//////////
			.contacts_content{
				.all_contacts{
					ul.item{
						width: 49%;
						//padding: 0;
						margin: 0;
						display: inline-block;
						border-right: 1px solid rgba(34, 36, 38, 0.15);
						border-bottom: 1px solid rgba(34, 36, 38, 0.15);
						border-top: none;
					}
					.contact_list{
						.item{
							display: block;
							width: 100%;
							//margin: 0 auto;
							text-align: center;

						}
						.c_name{
							font-weight: bold;  
						}
						.c_image{	
							img{
								//border-radius: 0.5rem;
								width: 40%;
								height: 40%;
							}
						}
						.c_edit{
							display: none;
						}
						.c_verify{
							display: none;
						}
					}
				}
			}
		}

		.column3{
			display: none !important;
		}
	}
}//max width 768


@media only screen and (max-width: 500px){
 	 
}//max 500px

@media only screen and (max-width: 330px){
	
}//max 330px


/* Print Styles */
/* ==================================================== */
 
@media print {

	* {
		background: transparent !important; 
		color: black !important; 
		text-shadow: none !important; 
		filter:none !important; 
		-ms-filter: none !important; 
	} 
	
	a, 
	a:visited { 
		text-decoration: underline; 
	}
	
	a[href]:after { 
		content: " (" attr(href) ")"; 
	}
	
	abbr[title]:after { 
		content: " (" attr(title) ")"; 
	}
	
	.ir a:after, 
	a[href^="javascript:"]:after, 
	a[href^="#"]:after { 
		content: ""; 
	} 
	
	pre, 
	blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	}
	
	thead { 
		display: table-header-group; 
	}
	
	tr, 
	img { 
		page-break-inside: avoid; 
	}
	
	img { 
		max-width: 100% !important; 
	}
	
	@page { 
		margin: 0.5cm; 
	}
	
	p, 
	h2, 
	h3 { 
		orphans: 3; 
		widows: 3; 
	}
	
	h2, 
	h3 { 
		page-break-after: avoid; 
	}
	
}